@media screen and (max-width:768px) {
  .container_p7 {
    background-color: rgb(188, 185, 183);
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 8vh 2vw 0 2vw;
    height: 65vh;
    position: relative;

  }

  .container_p7_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pic1 {
    width: 60vw;
  }


  .container_p7_1_2 {
    margin-top: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13vw;
  }

  .pic2,
  .pic3 {
    width: 40vw;
  }


  .container_p7_2 {
    position: absolute;
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
  }


  .p2 {
    font-size: 5vw;
    font-weight: 900;
  }

  .p3 {
    font-size: 3vw;
    line-height: 3vh;
    margin-top: 3vh;
  }

  .container_p7_2_1 {
    display: flex;
    margin: 3vh 0;
    align-items: center;

  }

  .container_p7_2_1_1 {
    display: flex;
    width: 30vw;
  }


  .svg1 {
    margin-right: 5vw;
  }

  .p4 {
    font-size: 4vw;
    width: 40vw;
    font-weight: 900;
  }

  .p5 {
    font-size: 3vw;
  }
}

@media screen and (min-width:768px) {
  .container_p7 {
    background-color: rgb(188, 185, 183);
    border-radius: 250px 250px 0 0;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 8vh 2vw 0 2vw;
    height: 45vh;

  }

  .container_p7_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pic1 {
    width: 20vw;
  }

  .container_p7_1_2 {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
  }

  .pic2,
  .pic3 {
    width: 10vw;
  }

  .container_p7_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
  }

  .p2 {
    font-size: 2vw;
    line-height: 5vh;
    font-weight: 900;
  }

  .p3 {
    font-size: 1vw;
    line-height: 3vh;
    margin-top: 5vh;
  }

  .container_p7_2_1 {
    display: flex;
    margin: 3vh 0;
    align-items: center;

  }

  .container_p7_2_1_1 {
    display: flex;
    width: 10vw;
  }

  .svg1 {
    margin-right: 0.5vw;
  }

  .p4 {
    font-size: 2vw;
    width: 20vw;
  }
}